* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #f4f4f4;
  width: 100%;
  height: 300px;
  display: flex;
  gap: 15px;

  justify-content: center;
  align-items: center;
}
img {
  width: 160px;
  height: 115px;
  border: 1px solid transparent;
  border-radius: 12px;
}

.img-01 {
  width: 160px;
  height: 115px;
  text-align: center;
}
