* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: #f4f4f4;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 350px;
}

.img {
  width: 330px;
  flex: 0 0 290px;
  text-align: center;
}

img {
  width: 330px;
  height: 230px;
  border-radius: 15px;
}
