* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.list-card {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 310px;
}

.list-card-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.list-card-3 {
  display: flex;
  gap: 40px;
}

.list-card-2 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

img {
  width: 440px;
  height: 230px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.list-card-3 .img img {
  flex: 1;
  width: 200px;
}

.list-card-2 img {
  flex: 2;
}

.img {
  border-radius: 12px;
  background-color: #ffffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 300px;
}

p {
  margin-top: 10px;
}

.price {
  color: #dabc90;
}
