* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.banner {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  height: 600px;
  position: relative;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 90%;
  max-width: 813.7px;
}

.title-01 {
  font-weight: 700;
  font-size: clamp(32px, 5vw, 60px);
  margin-bottom: 20px;
}

.title-02 {
  font-size: clamp(16px, 2vw, 22.7px);
  font-weight: 400;
}

.main {
  min-height: 750px;
  width: 100%;
  background-color: #f8f5f0;
  padding: 60px 20px;
}

.list-card {
  display: flex;
  padding: 60px 260px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  background-color: #f8f5f0;
  width: 100%;
  height: 100%;
}

.card {
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.list {
  width: 100%;
  height: 100%;
  background-color: #8b0000;
  color: #fff;
  padding: 0 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: column;
}

.title {
  font-size: 47.6px;
  font-weight: 700;
  color: #ffffff;
}

.form {
  width: 100%;
  max-width: 960px;
  display: flex;
  justify-content: center;
}

.form form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: center;
}

.input {
  width: 100%;
  max-width: 300px;
  height: 51px;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #1e1e1e;
  color: #dddddd;
  width: 100%;
  height: 98px;
}

.footer p {
  text-align: center;
  font-size: 15.1px;
  font-weight: 400px;
  padding-top: 40px;
}

button {
  width: 100%;
  max-width: 300px;
  height: 51px;
  border-radius: 20px;
  border: 1px solid transparent;
  color: #8b0000;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
}
